
# Compiling results
obj/
out/*
!out/Assets
!out/Assets/*

# Configurations
settings.mk
.gitignore
.bash_session

# Projects and sessions 
.clang-format
.clang_complete
.vscode/
*.npp

# Other
3rdParty/
